{% load common_utils %}
<!DOCTYPE html>
<html lang={{ LANGUAGE_CODE|default:"en-us" }} {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
 {% block extrastyle %}
     <link href='{% static 'vendor/fontawesome-free/css/all.min.css' %}' rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
  <link rel='stylesheet' href='{% static 'css/sb-admin-2.css' %}'>
{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}"
  data-admin-utc-offset="{% now "Z" %}">
    <!-- Page Wrapper -->
    <div id="wrapper">
{% load i18n static %}

{{ form.media }}




{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
          <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-8 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Log In!</h1>
                                    </div>
                                  <form action="{{ app_path }}" method="post" id="login-form" class="user">{% csrf_token %}
                                      <div class="form-group">
                                        {{ form.username.errors }}
                                        <div class="small">{{ form.username.label_tag }} </div>
                                        <div class="input-group col-xs-12">{{ form.username }}</div>
                                      </div>
                                      <div class="form-group">
                                        {{ form.password.errors }}
                                        <div class="small">{{ form.password.label_tag }} </div>
                                        <div class="input-group col-xs-12">{{ form.password }}</div>
                                        <input type="hidden" name="next" value="{{ next }}">
                                      </div>
                                      {% url 'admin_password_reset' as password_reset_url %}
                                      {% if password_reset_url %}
                                      <div class="password-reset-link">
                                        <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
                                      </div>
                                      {% endif %}
                                      <div class="submit-row">
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="{% translate 'Log in' %}">
                                      </div>
                                  </form>
                                                              {% if form.errors and not form.non_field_errors %}
                            <p class="errornote">
                            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                            </p>
                            {% endif %}

                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <p class="errornote">
                                {{ error }}
                            </p>
                            {% endfor %}
                            {% endif %}
                            {% if user.is_authenticated %}
                            <p class="errornote">
                            {% blocktranslate trimmed %}
                                You are authenticated as {{ username }}, but are not authorized to
                                access this page. Would you like to login to a different account?
                            {% endblocktranslate %}
                            </p>
                            {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

    {% block footer %}<div id="footer"></div>{% endblock %}

            </div></div>
</div><!--End Wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src='{% static 'vendor/jquery/jquery.min.js' %}'></script>
    <script src='{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}'></script>

    <!-- Core plugin JavaScript-->
    <script src='{% static 'vendor/jquery-easing/jquery.easing.min.js' %}'></script>

    <!-- Custom scripts for all pages-->
    <script src='{% static 'js/sb-admin-2.min.js' %}'></script>

    <!-- Page level plugins -->
    <script src='{% static 'vendor/chart.js/Chart.min.js' %}'></script>

    <!-- Page level custom scripts -->
    <script src='{% static 'js/demo/chart-area-demo.js' %}'></script>
    <script src='{% static 'js/demo/chart-pie-demo.js' %}'></script>
</body>
</html>